.column__header {
    margin: 0;
    padding-bottom: 17px;
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    pointer-events: none;
}