.product__info_parameters-p {
    margin: 0;
    padding: 5px 0;
    border-bottom: 1px solid #eee;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
}

.product__info_parameters-p:last-child {
    border: none;
}