.header__contacts_mail {
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    margin-top: 3px;
    text-decoration: none;
    text-align: right;
}